.background-list {
  background-color: dimgrey;
  margin: auto;
  width: 85%;
  padding: 1% 3% 1% 3%;
  /*top - right - bottom - left */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-text {
  font-size: 2.5rem;
  color: whitesmoke;
  padding-top: 1%;
  padding-bottom: 4%;
}

img {
  
  border: 3px solid black;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.bottomspace{
  margin: 5%;
  color: aliceblue;
}