body{
    background-color: crimson;
}

section{
    background-color: aliceblue;
    margin: auto;
    width: 90%;
}

.foward{
    padding-top: 2%;

    padding-right: 5%;
    padding-left: 5%;
}

.pagetext{
    font-size: 1.5rem;
    padding-bottom: 4%;
}    